*{
    margin: 0;
    padding: 0;
}
.assignment{
   background-color: aliceblue;
   padding-top: 10%;
   padding-bottom: 10%;
}

.life-innovior{
    border: none;
    border-radius: 20px;
    width: 60%;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    box-shadow: 10px 10px 10px rgb(182, 177, 177) ,
                -10px -10px 10px white;
}
.life-innovior img {
    width: 50px;
}
.log-in{
    display: flex;
    padding-top: 50px;
    justify-content: center;
    text-align: center;
}
.log-in p{
    padding-top: 10px;
    font-size: 35px;
}
.form p{
    margin-top: 10px;
    font-size: 22px;
    padding-bottom: 30px;
}
.Password{
    margin: 15px 20px;
    padding: 25px 25px;
    border-radius: 15px;
    border: none;
    width: 80%;
    font-size: 18px;
    background-color: aliceblue;
    box-shadow: inset 12px 10px 12px rgb(214, 209, 209),
                inset -12px -10px 12px white;
   
}
.Username{
    margin: 15px 20px;
    padding: 25px 25px;
    border-radius: 15px;
    border: none;
    width: 80%;
    font-size: 18px;
    background-color: aliceblue;
    box-shadow: inset 12px 10px 12px rgb(214, 209, 209),
                 inset -12px -10px 12px white;
}
.form{
    padding-bottom: 50px;
}
.button{
    background-color: rgb(33, 177, 33);
    color: white;
    border: none;
    font-size: 18px;
    margin: 15px 20px;
    padding: 25px 25px;
    border-radius: 15px;
    width: 60%;
}
.form a{
    text-decoration: none;
    color: rgb(107, 98, 98);
}
@media  screen and (max-width: 500px) {
        .life-innovior {
            width: 60%;
            text-align: center;
            margin-left: 20%;
            margin-right: 20%;
           
        }

        .log-in p {
            font-size: 20px;
        }
        .form{
            text-align: center;
        }
    
        .form p {
            font-size: 15px;
        }
    
        .Password {
            width: 70%;
        }
    
        .Username {
            width: 70%;
        }
        .button {
           width: 70%;
        }
}
@media screen and (max-width: 800px) {
    .life-innovior {
        width: 60%;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;

    }

    .log-in p {
        font-size: 20px;
    }

    .form {
        text-align: center;
    }

    .form p {
        font-size: 15px;
    }

    .Password {
        width: 70%;
    }

    .Username {
        width: 70%;
    }

    .button {
        width: 70%;
    }
}